@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body
{
  background-color: #0aeeee00;
  
  background-image: linear-gradient(80deg,#0c6cc5d2,#0fb4b4,#0AEEEE);
  padding: 0%;
}


/*BARRA DE NAVEGAÇÃO*/
.navBar{
  background-color: rgba(255, 255, 255, 0.073);
  width: 100%;
  height: 60px;
  margin: 0%;
  top: 0;
  position: fixed;
  z-index: 200;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background-image: linear-gradient(80deg,#0c6cc5d2,#0fb4b4,#0AEEEE);
}
.Logo{
  height: 50px;
}
.Icon-Burguer{
  height: 30px;
}

/*banner*/
.banner
{
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column; 
  overflow-x: hidden;
}

.bannerImgs img{
  height: 320px;
}

.bannerText{
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 70px;
}
.bannerText h3{
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  font-weight: 400;
  padding: 20px;
}
.bannerText p{
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(90deg, #ffffff, #717071); /* Gradiente verde */
  -webkit-background-clip: text; /* Aplica o background clip ao texto */
  -webkit-text-fill-color: transparent; 
  background-clip: text;
}

@media (min-width: 430px) {
  .banner{
    height: 120vh;
    padding-bottom: 40px;
  }
  .bannerImgs img{
    height: 450px;
  }
  .bannerText h3{
    font-size: 30px;
  }
  .bannerText p{
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .banner{
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
  }
  .bannerImgs{
    margin-top: 100px;
  }
  .bannerText{
    margin-top: 100px;
  }
}

@media (min-width: 1030px) {
  .bannerImgs img{
    height: 500px;
    margin-top: 0;
  }

  .bannerText h3{
    width: 450px;
    font-size: 40px;
    margin-left: 20px;
  }
}
@media (min-width: 1250px) {
  .bannerImgs{
    margin-top: 20px;
  }
  .bannerText{
    margin-left: 100px;
  }
  .bannerImgs img{
    margin-top: 0;
    height: 700px;
    margin-right: 100px;
  }
}

/*FORM*/
.Formulario{
  align-items: center;
  background-color: #0aeeee00;  
  height: auto;
  width: 100%;
  position: absolute;
  top: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
}
.div-form{
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.feature-form{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding-top: 20px;
}
.feature-form p{
  margin-top: 20px;
  font-size: 20px;
  color:rgb(81, 81, 194);
  font-weight: 500;
}
.form{
  background-color: #69d3e8;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  color: white;
}
.data{
  display: flex;
  margin-top:15px;
  align-items: center;
  justify-content: center;
}
.data input{
  width: 40px;
  padding: 5px;
  text-align: center;
  margin: 8px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.numDogs{
  justify-content: center;
  align-items: center;
}
.numDogs table{
  margin: 0% auto;
}
.numDogs input
{
  width: 40px;
  padding: 5px;
  text-align: center;
  margin: 8px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.form button
{
  margin-top: 20px;
  font-size: 15px;
  padding: 15px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #0C6CC5;
  font-weight: 600;
}
.form button:hover{
  background-color: #0b4c88;
}
.resultado{
  margin: 0% auto;
  background-color: #23156000;
  width: 90%;
  border-radius: 8px;
  display: none;
  justify-content: space-around;
  margin-top: 25px;
  flex-direction: column;
}
.Nome{
  color: #0b4c88;
}

@media (min-width: 440px) {
  .Formulario{
    top:120%;
  }
}

@media (min-width: 790px) {
  .div-form{
    flex-direction: row;
  }
  .form{
    width: 50%;
  }
  .feature-form{
    width: 60%;
    padding-bottom: 0px;
    font-weight: 800;
  }
  .feature-form img{
    height: 400px;
  }
  .Formulario{
    top:90%;
  }
  .resultado{
    flex-direction: column;
  }
}
@media (min-width: 1024px) {

  .div-form{
    width: 900px;
  }
  .Formulario{
    top:100%;
  }
}

/*footer*/

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: -120%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: calc(50% - 10px); 
}

.footer-column h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p {
  color: #666;
  font-size: 14px;
}

@media (max-width: 790px) {
  footer{
    bottom: -200%;
  }
}
